!/gitignore
!/src/*
!/pom.xml
/*.iml
.settings
.classpath
.target
.externalToolBuilders
.metadata
.project
/target/*
.svn/*
.idea/*
/bin/
.DS_Store
*.Ds_Store
*.log*
/.idea/
**/.idea/
*.iws
**/*.iws
*.ipr
**/*.ipr